@charset "utf-8";
/* CSS Document */

.calendar {
	font-family:Arial, Helvetica, sans-serif;
}

.calendar-full {
	max-width:980px;
}

.calendar table {
	width:100%;
	padding:0;
	border-collapse:collapse;

	
}
.calendar table td {
	padding:0;
	width:14.285%;

}

.calendar table th {
	padding:0 0 6px 0;
	font-weight:normal;
	text-transform:uppercase;
	position:relative;
	height:25px;
	font-size:12px;
}

.calendar .hls-date-content {
	position:relative;
	margin:5px;
	background:#ebebeb;
	border:1px solid #a9a9a9;
	min-height:85px;
    -mozilla-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.15);
}

.calendar .hls-date-content a {
	position:absolute;
	top:0;
	right:0;
	bottom:0;
	left:0;
	overflow:hidden;
	z-index:1;
	text-decoration:none;
}
.calendar .hls-date-content a img {
	width:100%;
	min-height:85px;
}
.calendar .hls-other-month .hls-date-content a img {
	opacity:0.6;
}

.calendar .hls-other-month .hls-date-content a:hover img {
	opacity:1;
}

.calendar .hls-date-container {
	position:absolute;
	top:0;
	bottom:0;
	right:0;
	left:0;
	margin: 0;
	z-index:11;
	border:none;
}
.calendar .hls-date-label {
	position:relative;
	margin: 10px 10px 0 auto;
	font-size:15px;
	text-align:center;
	width:29px;
	line-height:29px;
	height:29px;
	color:#1a1a1a;
	z-index:12;
	background:#fff;
	border:1px solid #a5a5a5;
    opacity:0.6;
}
.calendar .hls-date-label.hls-today {
    border: 1px solid #14d878;
    color: #14d878;
}

.calendar .hls-other-month .hls-date-content {
	background:#f2f2f2;
}

.calendar .hls-other-month .hls-date-label{
	color:#acacac;
}

.calendar .hls-date-title{
    display: none;
}

.calendar a:hover .hls-date-title{
    display: block;
	color:#1a1a1a;
    background:#fff;
    opacity: 0.6;
    width: 85%;
    margin: 10px auto;
    text-align: center;
    padding: 2px 1px;
}

.hls-calendar-nav {
	list-style-type:none;
	margin:5px 0 0 0;
	padding:0;
	height:18px;
	width:100%;

}
.hls-calendar-nav li {
	padding:0;
	float: right;
	margin: 0 0 0 6px;
}
.hls-calendar-nav li:first-child {
	margin-right: 5px;
}
.hls-calendar-nav li.hls-calendar-month {
	text-align:center;
}
.hls-calendar-nav li.hls-calendar-month p {
    font-family: Arial,Helvetica,sans-serif;
    font-size: 11px;
	line-height:18px;
    margin: 0;
    color: #A5A5A5;
    padding: 0 0 0 0;
    text-align: right;
}
.hls-calendar-nav li.hls-button-prev, .hls-hls-calendar-nav li.hls-button-next {
    height: 18px;
	width: 24px;
}
.hls-calendar-nav li.hls-button-prev a, .hls-hls-calendar-nav li.hls-button-next a {
    display: block;
    height: 18px;
    width: 24px;
}

.hls-calendar-nav li.hls-button-prev a {
    background-position: 0 -56px;
}

.hls-calendar-nav li.hls-button-prev.disabled a, .hls-hls-calendar-nav li.hls-button-next.disabled a {
    background-position: 0 -28px;
	cursor: default;
}
